{% extends "base.html" %}

{% block content %}
  <div class="full-width padding">
    <div class="news-container" id="news-container">
      <form action="{{ url_for('news.news') }}">
      <button class="one">
        <a>Explore more</a>
        <img src="/static/resources/arrow.svg">
      </button>
        </form>
      <br>
      <h3>Press the title of each news article view the rest of the article</h3>
      {% for article in articles %}
      <div class="news-box content">
        <div class="button">
        <b><a href="{{ article.link }}">{{ article.title|safe }}</a></b><br>
        </div>
        <span>{{ article.published|safe }}</span>
        <p>{{ article.summary|safe }}</p>
      </div>
      {% endfor %}
    </div>

    <ul class="feature-quick-access">
      <li>
        <form action="{{ url_for('fitness_advice') }}">
        <button class="two">
          <a>Fitness Advice</a>
          <img src="/static/resources/weight.svg" alt="Weight">
        </button>
        </form>
      </li>
      <li>
        <form action="{{ url_for('nutrition_advice') }}">
        <button class="two">
          <a>Nutrition Advice</a>
          <img src="/static/resources/meal.svg" alt="Cutlery">
        </button>
        </form>
      </li>
      <li>
        <form action="{{ url_for('meal.meal_plan') }}">
        <button class="two">
          <a>Create Meal Plan</a>
          <img src="/static/resources/meal-plan.svg" alt="Meal Calender">
        </button>
        </form>
      </li>
      <li>
        <form action="{{ url_for('fitness.fitness_plan') }}">
        <button class="two">
          <a>Create Fitness Plan</a>
          <img src="/static/resources/fitness-plan.svg" alt="Fitness Calender">
        </button>
          </form>
      </li>
      <li>
        <form action="{{ url_for('calorie.calories') }}">
        <button class="two">
          <a>Calorie Calculator</a>
          <img src="/static/resources/calculator.svg" alt="Calculator">
        </button>
          </form>
      </li>
    </ul>
  </div>

{% endblock %}