{% extends "base.html" %}

{% block content %}
  <div class="full-width padding">
    <div class="container content">
      <div class="content" id="information">
        <h1>Healthy Ageing Plans Disclaimer</h1>
          <br>
            <div>
                The information provided on Healthy Ageing Plans is for general informational purposes only. All content, including text, graphics, images, and information, contained on or available through this website is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. Never disregard professional medical advice or delay in seeking it because of something you have read on this website.
            </div>
            <div>
                Healthy Ageing Plans does not recommend or endorse any specific tests, physicians, products, procedures, opinions, or other information that may be mentioned on this website. Reliance on any information provided by Healthy Ageing Plans, its employees, or others appearing on the website at the invitation of Healthy Ageing Plans is solely at your own risk.
            </div>
            <div>
                The site may contain health or medical-related materials or discussions that are explicit. If you find these materials offensive, you may not want to use our website.
            </div>
            <div>
            Healthy Ageing Plans and its content providers assume no responsibility for any consequence relating directly or indirectly to any action or inaction you take based on the information, services, or other material on or available through this site. While we strive to keep the information on this website accurate, complete, and up-to-date, we do not guarantee the accuracy, completeness, or timeliness of the information.
            </div>
            <div>
            In no event shall Healthy Ageing Plans or its affiliates be liable for any damages (including, without limitation, incidental and consequential damages, personal injury/wrongful death, lost profits, or damages resulting from lost data or business interruption) resulting from the use of or inability to use the website or the content, whether based on warranty, contract, tort, or any other legal theory, and whether or not Healthy Ageing Plans is advised of the possibility of such damages.
            </div>
        <div class = "content">
          <button class="speak" onclick=speakText("information")>
            <a>Speak</a>
          <img src="/static/resources/speaker.svg" alt="Speaker"></button>
        </div>
      </div>


        </div>
    </div>
  </div>

{% endblock %}