{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question One</h1>
            <div id="speak">
            <h3>Please enter your height and weight</h3>
                </div>
            <button class="news" onclick=speakText('speak')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}

            {% if form %}
                <form  class="form" method="post">
                    <div>
                        {{ form.csrf_token() }}
                        <div>
                            {{ form.height.label }} {{ form.height(class="input", placeholder="Height") }}
                            <div class="error-message">
                            {% for error in form.height.errors %}
                                {{ error }}
                            {% endfor %}
                                </div>
                        </div>
                        <div id="inches" style="display: none;">
                            {{ form.inches.label }} {{ form.inches(class="input", placeholder="Inches") }}
                            <div class="error-message">
                            {% for error in form.inches.errors %}
                                {{ error }}
                            {% endfor %}
                                </div>
                        </div>
                        <br>
                        <div>
                            {{ form.hoptions }}
                        </div>

                    </div>
                    <br>
                    <div>
                        <div>
                            {{ form.weight.label }} {{ form.weight(class="input", placeholder="Weight") }}
                            {% for error in form.weight.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        <br>
                        <div>
                            {{ form.woptions }}
                        </div>
                        <br>
                    </div>
                    <div>{{ form.submit() }}</div>
                </form>
            {% endif %}
        </div>
    </div>
<script>
    var feetInput = document.getElementById('inches');
    var hOptions = document.getElementsByName('hoptions');
    for (var i = 0; i < hOptions.length; i++) {
        hOptions[i].onchange = function() {
            if (this.value === 'feet') {
                feetInput.style.display = 'block';
            } else {
                feetInput.style.display = 'none';
            }
        };
    }
</script>
{% endblock %}