{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
        <form class="form" method="POST" action="">
            <h1>Question Two</h1>
                {{ form.csrf_token }}
                    How much exercise do you take part in?
                    <div>
                        <br>
                        {{ form.options }}
                        <br>
                    </div>
                <div>{{ form.submit }}</div>
    </form>
            </div>
    </div>
{% endblock %}