{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question One</h1>
            <div id="speak">
            <h3>Please enter your height and weight</h3>
                </div>
            <button class="news" onclick=speakText('speak')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}

            {% if form %}
                <form  class="form" method="post">
                    <div>
                        {{ form.csrf_token() }}
                        <div id="cm" style="display: block;">
                            <label for="cm">Centimetres:</label>
                            <input type="text" id="cm" name="cm" placeholder="Centimetres">
                        </div>
                        <div id="inches" style="display: none;">
                            <label for="feet">Feet:</label>
                            <input type="text" id="feet" name="feet" placeholder="Feet">
                            <br>
                            <label for="inches">Inches:</label>
                            <input type="text" id="inches" name="inches" placeholder="Inches">
                        </div>
                        <br>
                        <div>
                            {{ form.hoptions }}
                        </div>

                    </div>
                    <br>
                    <div>
                        <div>
                            {{ form.weight.label }} {{ form.weight(class="input", placeholder="Weight") }}
                            <div class="error-message">
                                {% for error in form.weight.errors %}
                                {{ error }}
                            {% endfor %}
                            </div>
                        </div>
                        <br>
                        <div>
                            {{ form.woptions }}
                        </div>
                        <br>
                    </div>
                    <div>{{ form.submit() }}</div>
                </form>
            {% endif %}
        </div>
    </div>
<script>
    var feetInput = document.getElementById('inches');
    var cmInput = document.getElementById('cm');
    var hOptions = document.getElementsByName('hoptions');
    for (var i = 0; i < hOptions.length; i++) {
    hOptions[i].onchange = function() {
        if (this.value === 'feet') {
            feetInput.style.display = 'block';
            cmInput.style.display = 'none'; // Hide cmInput when feet is selected
        } else if (this.value === 'cm') {
            feetInput.style.display = 'none'; // Hide feetInput when cm is selected
            cmInput.style.display = 'block';
        } else {
            feetInput.style.display = 'none';
            cmInput.style.display = 'none';
        }
    };
}
</script>
{% endblock %}