{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
        <form class="form" method="POST" action="">
            <h1>Question Four</h1>
                {{ form.csrf_token }}
                    How old are you?
                    <div>
                        <br>
                        {{ form.age }}
                    </div>
            <div>
                        {% for error in form.age.errors %}
                        <span class="error">{{ error }}</span>
                        {% endfor %}
            </div>
                        <br>
                <div>{{ form.submit }}</div>
        </form>
        </div>
    </div>
{% endblock %}