{% extends "base.html" %}

{% block content %}
  <div class="full-width padding">
    <div class="container content">
      <div class="content content-text">
        <div class="content" id="content1">
          <h1>Fitness Advice for Healthy Ageing</h1>
          <p> Fitness advice for healthy aging includes various aspects to maintain physical and mental well-being as individuals grow older.          </p>
          <h3>Regular Exercise</h3>
          <p>
            Engage in regular physical activity that includes a combination of aerobic exercise, strength training, flexibility exercises, and balance exercises. Aim for at least 150 minutes of moderate-intensity aerobic activity per week, along with muscle-strengthening activities on two or more days a week          </p>
          <h3>Stay Active</h3>
          <p>
            Incorporate physical activity into your daily routine by walking, gardening, swimming, dancing, or practicing yoga. Stay active throughout the day to reduce sedentary behavior          </p>
          <h3>Strength Training</h3>
          <p>
            Include strength training exercises that target major muscle groups to maintain muscle mass, strength, and bone density. Use resistance bands, free weights, or weight machines to perform exercises like squats, lunges, push-ups, and planks.
          </p>
          <h3>Flexibility and Balance</h3>
          <p>
            Practice stretching exercises to maintain flexibility and improve joint mobility. Incorporate balance exercises, such as standing on one leg or yoga poses like tree pose, to reduce the risk of falls and improve stability.
          </p>
          <h3>Cardiovascular Exercise</h3>
          <p>
            Include activities like brisk walking, cycling, swimming, or dancing to improve heart health, boost circulation, and maintain endurance. Aim for at least 30 minutes of moderate-intensity cardio exercise most days of the week.
          </p>
          <h3>Functional Trainings</h3>
          <p>
            Include exercises that mimic everyday movements to maintain functional fitness and independence. Focus on activities like bending, lifting, reaching, and squatting to improve overall functionality and reduce the risk of injury.
          </p>
          <h3>Listen to Your Body</h3>
          <p>
            Pay attention to how your body feels during and after exercise. Modify activities as needed to accommodate any discomfort or limitations, and always prioritize safety and proper form.
          </p>
          <h3>Low-Impact Options</h3>
          <p>
            If you have joint issues or mobility limitations, choose low-impact exercises like swimming, water aerobics, stationary cycling, or elliptical training to minimize stress on the joints while still getting an effective workout.
          </p>

        </div>
        <div>
        <button class="speak corner-button" onclick=speakText("content1")>
            Speak
          <img src="/static/resources/speaker.svg" alt="Speaker"></button>
        </div>

      <div class="container content box-info dyk">
        <h2>Did you know?</h2>
        <p> Did you know that strength training isn't just for building muscles? It also helps maintain bone density, which is crucial for preventing osteoporosis and reducing the risk of fractures as you age.
        </p>
      </div>
      <div class="container content box-info matter">
        <h2>Tip!</h2>
        <p> Tip: Mix it up! Variety is key to keeping your workouts interesting and preventing boredom. Try different types of exercise, such as swimming, hiking, yoga, or group fitness classes, to challenge your body in new ways and stay motivated.
          </p>
      </div>
        <div class="container content box-info tip">
          <h2>Did you know?</h2>
          <p>Did you know that staying active can improve your mood and reduce feelings of anxiety and depression? Exercise triggers the release of endorphins, neurotransmitters that act as natural mood lifters and stress reducers.
        </p>
        </div>
      </div>

      <div class="content">
        <h1>Help Lines & Advice</h1>
        <div class="container content helplines urgent">
          <h2>Call 999 or go to A&E NOW if:</h2>
          <p><b>
            Is someone's life is at risk or do you do not feel you can keep yourself or someone else safe?
          </b></p>
          <p><b>
            A mental health emergency should be taken as seriously as a physical one. You will not be wasting anyone's time.
          </b></p>
        </div>
        <div class="container content helplines">
          <h2>Call 111 or book a GP appointment if:</h2>
          <p>
            You have any non-emergency enquiries or any non-urgent health concerns.
          </p>
          <p>
            This service will be able to guide you to the right resource or service to fit your needs
          </p>
        </div>
        <div class="container content helplines">
          <h2>The Samaritans</h2>
          <p>
            You have any non-emergency enquiries or any non-urgent health concerns.
          </p>
          <p>
            This service will be able to guide you to the right resource or service to fit your needs
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}