{% extends "base.html" %}

{% block content %}
  <div class="full-width padding">
      <div class="news-container" id="news-container">
        <h1>NHS News Blog</h1>
        <h3>Press the title of each news article view the rest of the article</h3>
        {% for article in articles %}
          <div class="news-box content">
            <div id="article-{{loop.index}}">
            <b><a href="{{ article.link }}">{{ article.title|safe }} </a></b><br>
            <span>{{ article.published|safe }}</span>
            <p>{{ article.summary|safe }}</p>
            </div>
            <button class="news" onclick=speakText('article-{{loop.index}}')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>
          </div>
        {% endfor %}
    </div>
</div>

{% endblock %}