{% extends "base.html" %}


{% block content %}
  <div class="full-width padding">
    <div class="container content">
      <div class="content content-text">
        <div class="content" id="content1">
          <h1>Nutritional Advice for Healthy Ageing</h1>
          <p>
            Healthy aging requires attention to various aspects of nutrition to support overall well-being and prevent age-related health issues          </p>
          <h3>Balanced diet</h3>
          <p>
            Aim for a balanced diet that includes a variety of fruits, vegetables, whole grains, lean proteins, and healthy fats. This provides essential nutrients and helps maintain a healthy weight.          </p>
          <h3>Stay Hydrated</h3>
          <p>
            The NHS advises to drink at least three litres of water throughout the day to stay hydrated. Dehydration can lead to fatigue, confusion, and other health problems, especially in older adults.
          </p>
          <h3>Focus on Fiber</h3>
          <p>
            Include fiber-rich foods like whole grains, fruits, vegetables, beans, and legumes in your diet. Fiber helps with digestion, prevents constipation, and may reduce the risk of chronic diseases like heart disease and diabetes.
          </p>
          <h3>Limit Salt and Sugar</h3>
          <p>Reduce your intake of salt and added sugars, which can contribute to high blood pressure, heart disease, and weight gain. Use herbs, spices, and natural sweeteners to flavor foods instead.</p>
          <h3>Healthy Fats</h3>
          <p>Choose sources of healthy fats such as avocados, nuts, seeds, and olive oil. These fats are important for brain health, heart health, and overall well-being.</p>
          <h3>Calcium and Vitamin D</h3>
          <p>Maintain bone health by consuming foods rich in calcium (e.g., dairy products, leafy greens, fortified foods) and getting enough vitamin D through sunlight exposure and supplements if necessary.</p>
          <h3>Protein</h3>
          <p>Include sources of lean protein in your diet, such as poultry, fish, beans, tofu, and nuts. Protein is essential for muscle strength, immune function, and tissue repair.</p>
          <h3>Omega-3 Fatty Acids</h3>
          <p>Incorporate foods rich in omega-3 fatty acids, such as fatty fish (salmon, mackerel, sardines), flaxseeds, chia seeds, and walnuts. Omega-3s have anti-inflammatory properties and support heart and brain health.</p>
          <h3>Portion Control</h3>
          <p>Be mindful of portion sizes to prevent overeating and maintain a healthy weight. Pay attention to hunger and fullness cues, and avoid eating large meals late at night.</p>
          <h3>Limit Alcohol</h3>
          <p>Drink alcohol in moderation or avoid it altogether. Excessive alcohol consumption can increase the risk of various health problems, including liver disease and cognitive decline.</p>
          <h3>Regular Meals</h3>
          <p>Aim to eat regular meals and snacks throughout the day to maintain energy levels and prevent dips in blood sugar.</p>
          <h3>Consult a Healthcare Professional</h3>
          <p>Talk to your doctor or a registered dietitian for personalized nutritional advice based on your health status, dietary preferences, and any medical conditions or medications you may have.</p>

          <p>By following these nutritional guidelines and adopting other healthy lifestyle habits such as regular physical activity, adequate sleep, stress management, and social engagement, you can support healthy aging and enjoy a high quality of life as you grow older.</p>
        </div>
        <div class = "content">
          <button class="speak" onclick=speakText("content1")>
            Speak
          <img src="/static/resources/speaker.svg" alt="Speaker"></button>
          <div class="box-info content">
            <h2>Did you know?</h2>
            <p>Studies have shown that people who maintain strong social connections tend to live longer and have better overall health!</p>
          </div>
        <div>
          <div class="box-info content">
            <h2>Why does this all matter?</h2>
            <p> It's important to focus on nutrition because they help us live our best lives. When we take care of ourselves, it keeps our body and mind working well. It helps us handle challenges and enjoy life more. It also makes it easier for us to support and contribute to our communities.</p>
          </div>
        </div>
          <div>
          <div class="box-info content">
            <h2>Tip!</h2>
            <p>Getting regular health check-ups by scheduling routine check-ups and screenings can detect any potential issues early, and get the appropriate preventive care, improving your overall quality of life!</p>
          </div>
        </div>
          <div>
          <div class="box-info content">
            <h2>Tip!</h2>
            <p>Getting regular health check-ups by scheduling routine check-ups and screenings can detect any potential issues early, and get the appropriate preventive care, improving your overall quality of life!</p>
          </div>
        </div>
        </div>
      </div>

      <div class="content">
        <h1>Help Lines & Advice</h1>
        <div class="container content helplines urgent">
          <h2>Call 999 or go to A&E NOW if:</h2>
          <p><b>
            Is someone's life is at risk or do you do not feel you can keep yourself or someone else safe?
          </b></p>
          <p><b>
            A mental health emergency should be taken as seriously as a physical one. You will not be wasting anyone's time.
          </b></p>
        </div>
        <div class="container content helplines">
          <h2>Call 111 or book a GP appointment if:</h2>
          <p>
            You have any non-emergency enquiries or any non-urgent health concerns.
          </p>
          <p>
            This service will be able to guide you to the right resource or service to fit your needs
          </p>
        </div>
        <div class="container content helplines">
          <h2>The Samaritans</h2>
          <p>
            You have any non-emergency enquiries or any non-urgent health concerns.
          </p>
          <p>
            This service will be able to guide you to the right resource or service to fit your needs
          </p>
        </div>
        <div class="container content helplines">
          <h2>Shout Crisis Help Line</h2>
          <p>
            Text "SHOUT" to 85258 to contact the Shout Crisis Text Line, or text "YM" if you're under 19
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}