{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question One</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}
            <div id="speak">
            Approximately how many hours per week do you exercise?
            </div>
            <button class="news" onclick=speakText('speak')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>
            {% if form %}
            <form class="form" method="post">
                {{ form.csrf_token }}
                <div>{{ form.hours }} Hours</div>
                {% for error in form.hours.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
                <br>
                <div>{{ form.submit }}</div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}