{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question Two</h1>
            <form class="form" method="POST" action="">
                {{ form2.csrf_token }}
                    Do you wish to lose, gain or maintain your current weight?
                    <div>
                        <br>
                        {{ form2.options }}
                        <br>
                    </div>
                <div>{{ form2.submit }}</div>
    </form>
        </div>
    </div>
{% endblock %}