{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question Two</h1>
            <div id="speak">
            Do you have any of  the following dietary requirements?
            <form class="form" method="post">
                    <label>Pick Multiple From below</label>
                    <ul>
                        <li>
                            <label><input type="checkbox" name="fr" value="vegan" /> Vegan</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="veg" /> Vegetarian</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="pesc" /> Pescatarian</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="nut" /> Nut Allergy</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="gluten" /> Gluten Intolerance</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="lactose" /> Lactose Intolerance</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="keto" /> Ketogenic Diet</label>
                        </li>
                        <li>
                            <label><input type="checkbox" name="fr" value="none" id="noneOfAbove" /> None Of the above</label>
                        </li>
                    </ul>
                <div>
                    <br>
                    {{ form.submit }}
                </div>

            </form>
                <button class="news corner-button" onclick=speakText('speak')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>
        </div>
    </div>
    </div>
            <script>
                document.getElementById("noneOfAbove").addEventListener("change", function() {
                    var checkboxes = document.querySelectorAll('input[name="fr"]');
                    checkboxes.forEach(function(checkbox) {
                        if (checkbox !== document.getElementById("noneOfAbove")) {
                            checkbox.checked = false;
                        }
                    });
                });
                var otherCheckboxes = document.querySelectorAll('input[name="fr"]:not(#noneOfAbove)');
                otherCheckboxes.forEach(function(checkbox) {
                    checkbox.addEventListener("change", function() {
                        if (this.checked) {
                            document.getElementById("noneOfAbove").checked = false;
                        }
                    });
                });
            </script>

{% endblock %}