{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question Three</h1>
            <div id="speak">
            How many litres of water do you drink per day?
            <br>
            Drag the slider to your level:
            <br>
                </div>
            <button class="news corner-button" onclick=speakText('speak')>
            <img src="/static/resources/speaker.svg" alt="Speaker"></button>
            <div class="rangeslider">
                <input type="range" min="1" max="10" value="5" class="myslider" id="sliderRange">
            <p>Litres of water: <span id="value"></span></p>
            </div>
            <form class="form" method="post" id="sliderForm">
                <input type="hidden" name="sliderValue" id="sliderValue"> <!-- Hidden input field to store slider value -->
                {{ form.submit }}
            </form>
        </div>
    </div>
{% endblock %}