{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            <h1>Question One</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}

            Approximately how long do you have to prepare your evening meal?

            {% if form %}
            <form class="form" method="post">
                {{ form.csrf_token }}
                <div>{{ form.hours }} Hours</div>
                <br>
                {% for error in form.hours.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
                <div>{{ form.submit }}</div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}