{% extends "base.html" %}

{% block content %}
    <div class="full-width full-page padding">
        <div class="container form-container">
            {% if alert_message %}
            <script>
                alert( "{{ alert_message }}" );
            </script>
            {% endif %}
            <h3>Welcome to the Meal Plan Builder, do you wish to continue?</h3>

            <form class="form" method="post">
                <div>{{ form.yes }}</div>
                <div>{{ form.no }}</div>
            </form>
        </div>
    </div>
{% endblock %}